<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melo's Pet</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/imagens/ico.png" type="image/x-icon">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>
</head>
<body>
    <nav id="navbar">
        <ul>
            <li>
                <a href="/animals/create">Adicionar</a>
                <a href="/animals">Animais</a>
            </li>
        </ul> 
    </nav>
    
    {{{body}}}

    <footer>  &copy; Melo's pet </footer>
</body>