

<form action="/animals/create" method="POST" class="form">
  <h1>Cadastrar animal</h1>

  <div class="form-control">
    <label for="name">Nome:</label>
    <input type="text" name="name" placeholder="Digite o nome do animal" />
  </div>

  <div class="form-control">
    <label for="especie">Espécie:</label>
    <input type="text" name="especie" placeholder="Digite a espécie" />
  </div>

  <div class="form-control">
    <label for="age">Idade</label>
    <input type="text" name="age" placeholder="Digite a idade" />
  </div>

  <button type="submit">Cadastrar</button>

  <div class="result"></div>

</form>

<script src="/js/check.js"></script>