<div class="detalhes">
    <h1>Animal</h1>
    <h1><strong>Nome:</strong> {{animal.name}}</h1>
    <p><strong>Espécie:</strong> {{animal.especie}}</p>
    <p><strong>Idade</strong> {{animal.age}}</p>
    <a href="/animals">Voltar</a>

</div>